:root{
    --primary-color: #d4a373;
    --secondary-color: #FAEDCD;
    --tertiary-color: #FEFAE0;
    --cuartean-color: #E9EDC9;
    --quintan-color: #CCD5AE;
}




body{
    background-color: antiquewhite;
    font-family: cursive;
    width: 100vw;
    height: 100vh;
}
header,
footer{
    background-color: var(--primary-color);
    padding: 2rem 2rem;
    text-align: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
        img{   
            width: 30vw;
        }
    
}
header{
    background-image: url(img/image.png);
}
.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    
}
.pokemon-details{
    background-color: var(--secondary-color);
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.pokemon-card {
    background-color: var(--tertiary-color);
    width: 20vw;
    border-radius: 2rem;
    margin: 0.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 1rem 1rem .5rem rgba(0, 0, 0, 0.663);
}

.pokemon-card img {
    width: 100%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));   
    
}

.pokemon-images {
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-images img:first-child {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.pokemon-images img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateY(40%);
    opacity: 0;
    transition: all 0.3s ease;
    
}
.pokemon-images:hover{
                transform: 
                    perspective(250px)
                    rotateX(10deg)
                    translateY(-5%)
                    translateZ(0);
}

.pokemon-images::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0)
    );
    opacity: 0;
    transition: all 0.3s ease;
}
.pokemon-images:hover::before {
    opacity: 1;
}

.pokemon-images:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}





button {
    border: none;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    color: var(--tertiary-color);
}

.pagination{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
        button{
            border:none;
            background-color: var(--primary-color);
            border-radius: 1rem;
            padding: 0.5rem;
            margin: 0.5rem;
            color: antiquewhite;
            cursor: pointer;
        }
    
}
.pokemon-details-card{
    background-color: var(--tertiary-color);
    width: 30vw;
    border-radius: 2rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.663);
        img{
            width: 60%; 
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
        }
}


.flip-container {
  background-color: transparent;
  margin: auto;
  width: 10px;
  height: 30px;
  perspective: 1000px; 
  display: flex;
  
  
  
  
  
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 10px;
  height: 10px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .5rem;
}
.front {

  color: black;
  
}
.back {
  
  color:black;
  transform: rotateY(180deg);
}
