:root{
    font-family: chakra-petch-semibold-italic;
}

header {
    padding-block: 1rem;
    background-color: beige;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
main{
    margin: 1rem 2rem 
}

menu{
    display:flex;
    list-style: none;
    button{
        padding: 0.5rem 1rem;
        
    }
}
main{

    background-color: cadetblue;
    display: flex;
    flex-direction: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    
    
    
}

section.ttt{

    .board{
    margin: auto;
    margin-bottom: 10rem;
    width: 400px;
    height: 400px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    & div{
        background-color: bisque;
        
    }
}

}


