button{
  background-color: darkgoldenrod;
  border-radius: 1rem;
}
input{
  border-radius: 1rem;
  border: 1px solid darkgoldenrod;
  padding: 0.5rem;
  font-size: 1rem;
}
p{
  font-size: 1.5rem;
 
}

